{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Mac, mec, mic, toca't el melic</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/mic.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}